:root{
  --blue-background: #0891b2;
  --grey-font: rgb(95, 95, 95);
  --shadow-color: rgba(0, 0, 0, 0.255);
  --darkred: #9e1c1c;
  --purple: #7c75ca;
  --green: #5e8f4d;
  --pink: #c363b4;
  --orange: #d88f39;
  --light-blue: #4ba2d2;
}


body,h1,h2,h3,p,a{
  margin: 0
}
body{
  overflow-x: hidden;
  min-width: 360px;
}

.background.wrapper{
  filter: drop-shadow(0px 3px 5px var(--shadow-color));
  z-index: -1;
  position: absolute;
}

.background.blue{
  position: absolute;
  height: 530px;
  width: 100vw;
  background-color: var(--blue-background);
  
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
}
header{
  position: relative;
  padding: 3em;
  max-width: 1000px;
  margin:auto
}
.header.wrapper{
  display: flex;
  align-items: center;
}

img.header.profile{
  height: 450px;
  width: 405px;

  object-fit: cover;
  flex: 0 0 auto;

  box-shadow: 3px 3px 10px var(--shadow-color) ;
  z-index: 2;
}

h1.name{
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.377);
  font-size: 3.4rem;

  font-family: "Playfair Display", Roboto, sans-serif;
  font-weight: 200;

  position: absolute;
  z-index: 3;

  bottom: 48px;
  left: 60px;
 
}

.about.wrapper{
  padding: 2em 1.5em;
  background-color: white;

  box-shadow: 3px 3px 10px var(--shadow-color) ;
}

h2.about{
  font-family: "Playfair Display", "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2.3rem;
}

p.about.description{
  margin-top: 1.5em;

  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: var(--grey-font);
}

.about.buttons-wrapper{
  margin-top: 2em;
  display: flex;
  justify-content: flex-end;
  gap: 1.3em;
}

button.header{
  height: 35px;
  width: 35px;
}

button{
  background: none;
  border: none;
  padding: 0;
  
  transition: transform .25s 
}

a{
  text-decoration: none;
}

button a{
  display: block;
  height: 100%;
  width: 100%;

  transition: transform 450ms;
}

button.github a{
  background-image: url("../img/github-original.svg");
}

button.linkedin a{
  background-image: url("../img/linkedin-plain.svg");
}

button.twitter a{
  background-image: url("../img/twitter-original.svg");
}

/* button shadow */
button.header::after{
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  margin:auto;

  background: radial-gradient(#3d3d3d5e, #adadad00);
  opacity: 0%;
  transition: opacity 450ms;

}

button.header:hover a,
button.header:focus a{
  transition: transform 125ms;
  transform: translateY(-5px);
}

button.header:hover::after{
  opacity: 70%;
}

main{
  padding: 3em;
  max-width: 1000px;
  margin: 3em auto;
}

h2.main{
  font-family: "Playfair Display", "Roboto", sans-serif;
  font-weight: 150;
  font-size: 2rem;
}

.projects.section.wrapper{
  display: flex;
  gap: 3em 2em;
  margin-top: 1em;
  flex-wrap: wrap;
  justify-content: center;
}

.project.card.wrapper{
  height: 350px;
  max-width: 300px;
  flex: 1 1 274px;

  box-shadow: 3px 3px 8px var(--shadow-color);
}

.project.image{
  height: 200px;
  background-color:var(--darkred);
  font-family: "Playfair Display", "Roboto", sans-serif;
  font-size: 2.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

p.placeholder{
  max-width: 200px;
  color: white;
  padding-bottom: .5em;
}

.project.image.purple{
  background-color:var(--purple);
}

.project.image.green{
  background-color:var(--green);
}

.project.image.pink{
  background-color:var(--pink);
}

.project.image.orange{
  background-color:var(--orange);
}

.project.image.blue{
  background-color:var(--light-blue);
}

.project.info{
  padding: .5em .8em
}

.project.title-buttons.wrapper{
  display: flex;
  gap: 1em;
}

.project.title{
  font-family: "Playfair Display", "Roboto", sans-serif;
  font-size: 1.2em;

  flex-grow: 1;
}

button.external a{
  background-image: url("../img/open-in-new.svg");
}

button.project{
  height: 20px;
  width: 20px;
}

button.project:hover a,
button.project:focus a{
  transition: transform 125ms;
  transform: translateY(-2px);
}

p.project.description{
  font-family: "Roboto", sans-serif;
  color: var(--grey-font);
  font-size: .8rem;
  margin-top:1em;
}

footer{
  display: flex;
  background-color: var(--blue-background);
  color: white;
  padding: 3em 2em;
  justify-content: center;
}

.contact.wrapper{
  max-width: 350px;
  min-width: 320px;

  flex-grow: 1;
}

h3.contact{
  font-family: "Playfair Display", "Roboto", sans-serif;
  font-weight: 200;
  font-size: 2rem;
}

p.contact{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

p.contact.call-to-action{
  margin-top: 1.5em;
  max-width: 280px;
}

p.contact.address{
  margin: 2em 0;
}

p.contact.email,
p.contact.phone{
  display: flex;
  align-items: center;
  gap: .5em;
}

p.contact.phone{
  margin-bottom: .5em;
}

img.contact{
  width: 25px;
  height: 25px;
  filter:invert(100%);
}

img.footer{
  width: 530px;
  height: 420px;
  object-fit: cover;
}

footer .buttons.wrapper{
  display: flex;
  gap: 1.5em;

  margin-top: 2em;
}

button.contact{
  width: 32px;
  height: 32px;
}

button.contact:hover a,
button.contact:focus a{
  transition: transform 125ms;
  transform: translateY(-5px);
}

/* button shadow */
button.contact::after{
  content: "";
  display: block;
  width: 20px;
  height: 3px;
  margin:auto;

  background: radial-gradient(#3d3d3d5e, #adadad00);
  opacity: 0%;
  transition: opacity 450ms;

}

button.contact:hover::after,
button.contact:focus::after{
  opacity: 70%;
}


@media (max-width: 900px) and (min-width: 700px){
  header{
    padding: 2em;
  }

  .header.wrapper{
    display: block;
    margin-top: -60px;
  }

  h1.name.title{
    position: relative;
    bottom: -80px;
    left: 0;
    text-align: end;
  }

  img.header.profile{
    position: relative;
    float: left;
    margin-right: 1.5em;
    margin-bottom: -100px;
  }

  .about.wrapper{
    position: relative;
    top: 100px;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 2em;
    padding-top: 4em;
  }

  h2.about.title{
    text-align: center;
  }

  p.about.description{
    line-height: 2rem;
  }

  img.footer{
    width: 300px;
  }
}

@media (max-width: 700px){
  header{
    padding: 1.8em;
  }

  .background.blue{
    height: 450px;
  }

  .header.wrapper{
    display: block;
    max-width: 400px;
    margin: auto;
  }

  h1.name.title{
    bottom: 0;
    left: -20px;
    top: 300px;

    display: block;
    position: relative;
    float: bottom;

    max-width: 230px;
    margin: auto;
    padding: 0 .5em;

    font-size: 4rem;
  }

  img.header.profile{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 100%;

    top: -146px;
  }

  .about.wrapper{
    position: relative;
    margin: -100px auto 0;
    box-shadow: none;
    padding: 0;

    
  }

  h2.about.title{
    text-align: center;
    font-size: 2.5rem;
  }

  p.about.description{
    margin-top: 1em;
    line-height: 2rem;
  }

  .about.buttons-wrapper{
    justify-content: center;
  }

  main{
    padding: 3em 1em;
  }

  h2.main.title{
    text-align: center;
    font-size: 2.5rem;
  }
  .projects.section.wrapper{
    flex-direction: column;
    align-items: center;
  }

  .project.card.wrapper{
    height: 350px;
    max-width: 300px;
    flex: 1 0 350px;
  
    box-shadow: 3px 3px 8px var(--shadow-color);
  }

  .project.card.wrapper{
    flex-shrink: 0;
  }

  footer{
    display: block;
    padding: 0;
  }
  
  .contact.wrapper{
    padding: 1em;
    margin: auto;
  }

  h3.contact{
    font-size: 2.5rem;
    text-align: center;
  }

  p.contact.call-to-action{
    max-width:500px;
    font-size: 1.5rem;
    margin: .5em auto 0
  }

  .contact.buttons.wrapper{
    justify-content: center;
    margin: 0;
  }

  button.contact{
    width: 40px;
    height: 40px;
  }

  img.footer{
    width: 100%;
    display: block;
    margin: auto;
  }


}